{% load i18n static %}

<div class="container position-sticky z-index-sticky top-0">
  <div class="row">
    <div class="col-12">
      <nav
          class="navbar navbar-expand-lg  blur border-radius-xl top-0 mt-4 z-index-fixed shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
        <div class="container-fluid px-0">
          <a class="navbar-brand font-weight-bolder ms-sm-3" href="/"
             rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom">
            Restaurant Kitchen Service
          </a>
          <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse"
                  data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false"
                  aria-label="Toggle navigation">
            <span class="navbar-toggler-icon mt-2">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
            </span>
          </button>
          <div class="collapse navbar-collapse pt-3 pb-2 py-lg-0 w-100" id="navigation">
            <ul class="navbar-nav navbar-nav-hover ms-auto">
              <li class="nav-item dropdown dropdown-hover mx-2">
                <a class="nav-link ps-2 d-flex cursor-pointer align-items-center" id="dropdownMenuPages"
                   data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="material-icons opacity-6 me-2 text-md">dashboard</i>
                  Navigation
                  <img src="{% static 'img/down-arrow-dark.svg' %}" alt="down-arrow" class="arrow ms-auto ms-md-2">
                </a>
                <div class="dropdown-menu dropdown-menu-animation ms-n3 dropdown-md p-3 border-radius-xl mt-0 mt-lg-3"
                     aria-labelledby="dropdownMenuPages">
                  <div class="d-none d-lg-block">
                    <a href="{% url 'kitchen:index' %}" class="dropdown-item border-radius-md">
                      <span>Home</span>
                    </a>
                    <h6 class="dropdown-header text-dark font-weight-bolder d-flex align-items-center px-1 mt-3">
                      Service
                    </h6>
                    <a href="{% url 'kitchen:cook-list' %}" class="dropdown-item border-radius-md">
                      <span>Cooks</span>
                    </a>
                    <a href="{% url 'kitchen:dish-list' %}" class="dropdown-item border-radius-md">
                      <span>Dishes</span>
                    </a>
                    <a href="{% url 'kitchen:dish-type-list' %}" class="dropdown-item border-radius-md">
                      <span>Dish types</span>
                    </a>
                    <h6 class="dropdown-header text-dark font-weight-bolder d-flex align-items-center px-1 mt-3">
                      User
                    </h6>
                    <a href="{{ user.get_absolute_url }}"
                       class="dropdown-item border-radius-md>User">{{ user.get_username }}
                    </a>
                    <form method="post" action="{% url 'logout' %}">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-secondary">Logout</button>
                    </form>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
