<ul class="sidebar-nav list-group">
{#  {% if user is authenticated %}#}
{#    <li class="list-group-item">User: <a href="{{ user.get_absolute_url }}">{{ user.get_username }}</a></li>#}
{#    <li class="list-group-item">User: <a href="{% url 'logout' %}?next={{ request.path }}">Logout</a></li>#}
{#  {% else %}#}
{#    <li class="list-group-item">User: <a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>#}
{#  {% endif %}#}
  <br>
  <li class="list-group-item"><a href="{% url 'kitchen:index'%}">Home</a></li>
  <li class="list-group-item"><a href="{% url 'kitchen:dish-type-list'%}">Dish types</a></li>
  <li class="list-group-item"><a href="{% url 'kitchen:dish-list'%}">Dishes</a></li>
</ul>