{% extends "base.html" %}

{% load static %}

{% block title %}  {% endblock title %}

{% block content %}
  <!-- -------- START HEADER 8 w/ card over right bg image ------- -->
  <section>
    <div class="page-header min-vh-100">
      <div class="container">
        <div class="row">
          <div
              class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 start-0 text-center justify-content-center flex-column">
            <div class="position-relative h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center"
                 style="background-image: url('{% static 'img/illustrations/pexels-yente-van-eynde-1263034-2403391.jpg' %}'); background-size: cover;"
                 loading="lazy"></div>
          </div>
          <div class="col-xl-5 col-lg-6 col-md-7 d-flex flex-column ms-auto me-auto ms-lg-auto me-lg-5">
            <div class="card d-flex blur justify-content-center shadow-lg my-sm-0 my-sm-6 mt-8 mb-5">
              <div class="card-header p-5 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                <div class="bg-gradient-primary shadow-primary border-radius-lg p-3">
                  <h3 class="text-white text-center mb-0 ">Cooks</h3>
                </div>
              </div>
              <div class="card-body">
                <p class="pb-3">


                  {% if cook_list %}
                    <table class="table">
                      <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Years of experience</th>
                      </tr>
                      {% for cook in cook_list %}
                        <tr>
                          <td>{{ cook.id }}</td>
                          <td><a href="{{ cook.get_absolute_url }}">{{ cook.username }} {% if user == cook %}
                            (Me){% endif %}</a>
                          </td>
                          <td>{{ cook.first_name }}</td>
                          <td>{{ cook.last_name }}</td>
                          <td>{{ cook.years_of_experience }}</td>
                        </tr>
                      {% endfor %}
                    </table>
                    
                    {% block pagination %}
                      {% include "includes/pagination.html" %}
                    {% endblock %}
                    
                    <form method="get" action="" class="form-inline">
                      {{ search_form }}
                      <input class="btn btn-secondary" type="submit" value="🔍">
                    </form>

                    <h1>
                      <a href="{% url 'kitchen:cook-create' %}" class="btn btn-behance link-to-page">
                        Register a new cook
                      </a>
                    </h1>
                  {% else %}
                    <p>There are no cooks in the service.</p>
                  {% endif %}

                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
