{% extends "base.html" %}

{% load static %}

{% block content %}

  <section>
  <div class="page-header min-vh-100">
  <div class="container">
  <div class="row">
  <div class="col-5 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 start-0 text-center justify-content-center flex-column">
    <div class="position-relative h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center"
         style="background-image: url('{% static 'img/illustrations/pexels-yente-van-eynde-1263034-2403391.jpg' %}'); background-size: cover;"
         loading="lazy"></div>
  </div>
  <div class="col-6 d-flex flex-column ms-auto me-auto ms-lg-auto me-lg-5">
  <div class="card d-flex blur justify-content-center shadow-lg my-sm-0 my-sm-6 mt-8 mb-5">
  <div class="card-header p-5 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
    <div class="bg-gradient-primary shadow-primary border-radius-lg p-3">
      <h3 class="text-white text-center mb-0">Cook profile</h3>
    </div>
  </div>
  <div class="card-body">
  <p class="pb-3">

  <p>Username: <strong> {{ cook.username }}</strong></p>
  <p>First name:<strong> {{ cook.first_name }}</strong></p>
  <p>Last name: <strong>{{ cook.last_name }}</strong></p>
  <p>Years of experience: <strong>{{ cook.years_of_experience }}</strong></p>
  <p>Email: <strong>{{ cook.email }}</strong></p>
  <br>
  <br>
  <div class="ml-3">
    <h4>Dishes</h4>
    {% for dish in cook.dishes.all %}
      <hr>
      <p>Name: <strong>{{ dish.name }}</strong></p>
      <p>Dish type:<strong> {{ dish.dish_type.name }}</strong></p>
      <p class="text-muted">Id: <strong>{{ dish.id }}</strong></p>

    {% empty %}
      <p>No dishes!</p>
    {% endfor %}
  </div>

  <a href="{% url 'kitchen:cook-delete' pk=cook.id %}" class="btn btn-danger link-to-page">
    Delete
  </a>
  <a href="{% url 'kitchen:cook-update' pk=cook.id %}" class="btn btn-secondary link-to-page">
    Update years of experience
  </a>
{% endblock %}
