{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Dish list
    <a href="{% url 'kitchen:dish-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>

  <form method="get" action="" class="form-inline">
    {{ search_form|crispy }}
    <input class="btn btn-secondary" type="submit" value="🔍">
  </form>

  {% if dish_list %}
    <ul>
      {% for dish in dish_list %}
        <li>
          <a href="{% url "kitchen:dish-detail" pk=dish.id %} ">{{ dish.id }}</a>
          {{ dish.name }} ({{ dish.dish_type.name }})
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no dishes in service</p>
  {% endif %}
{% endblock %}
